._wbs a{color:#fff;text-decoration:underline}
._3fcl{-webkit-filter:opacity(.5);pointer-events:none;-webkit-user-select:none}._gtd{display:none}

#bootloader_jpAmK{height:42px;}.bootloader_jpAmK{display:block!important;}